*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
}

*::selection{
    background-color: black;   
    color: red;
}
/* h2{
    background-color: green;
    color: white;
} */

.c1{
    background-color: tomato;
    color:gray;
}

.c2{
    background-color: green;
    color:yellow
}

#h24{
    background-color: indigo;
    color:lawngreen
}

p, h3{
    color: red;
    font-weight: bold;
    font-style: italic;
}
/* h3{
    color: red;
    font-weight: bold;
    font-style: italic;
} */

input{
    border:none;
    outline: none;
    border-bottom: 1px dashed black;
}

input[type='email']:invalid{
    border: 2px solid red;
}
/* input:hover{
    border:2px solid red;
}

input:focus{
    border:none;
    outline: none;
    border: 2px solid green;
} */

table, tr, td{
    border-collapse: collapse;
    border:1px solid black;
}

td{
    width: 30px;
    height: 30px;
}

table tr:nth-child(2n+1) td:nth-child(odd){
    background-color: orangered;
}

table tr:nth-child(2n) td:nth-child(even){
    background-color: orangered;
}

#h24::before{
    content: "+ ";
}

#h24::after{
    content: " (*)";
    color:red;
}

p::first-letter{
    font-size: 50px;
    font-weight: bolder;
}

p::first-line{
    color: green;
}

p::selection{
    background-color: black;   
    color: red;
}

.student-area h2{
    color: slateblue;
}

#d1{
    width: 50px;
    height: 50px;
    /* background-color: rgb(255,40,120); */
    /* background-color: rgb(0%,100%,0%); */
    background-color: rgba(0%,100%,0%, .5);
    display: block;
    padding: 10px;
    border:5px solid black;
    margin: 15px;
}